.design-form-wrapper {
  background: #fcfcf5;
  border-radius: 15px;
  padding: 30px;
  max-width: 650px;
  margin: auto;
  box-shadow: 0 0 1.5rem rgba(148, 121, 4, 0.25);
  border: 1px solid #f5be0a23;
}

.form-title {
  text-align: center;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 25px;
  line-height: 30px;
}

.design-form .form-group {
  margin-bottom: 20px;
}

.design-form .form-label {
  font-weight: 600;
  color: #000;
  margin-bottom: 5px;
  display: block;
  text-transform: capitalize;
}

.styled-input {
  border-radius: 50px !important;
  border: 1px solid #0000001f;
  transition: 0.2s ease-in-out;
  box-shadow: none;
  line-height: 30px;
  margin-top: 10px;
  background: none;
}

.styled-input:focus {
  border-color: #EFBC27;
  box-shadow: 0 0 0 0.2rem rgba(255, 226, 99, 0.25);
}

.preview-wrapper {
  margin-top: 15px;
  text-align: center;
}

.preview-img {
  width: 180px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.12);
}

.submit-button {
  background-color: #000 !important;
  border: none;
  padding: 15px 30px;
  border-radius: 50px !important;
  font-weight: 600;
  transition: 0.2s;
  width: 100%;
  margin-top: 10px;
  color: #EBB428;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #1b1b1b !important;
}
