.calendar-box {
  width: 100%;
  background: #fffdfa;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 20px;
  
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header h3 {
  font-size: 18px;
  margin: 0;
}

.calendar-header button {
  padding: 6px 10px;
  border: none;
  background: #f1f1f1;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

.calendar-header button:hover {
  background: #e4e4e4;
}

.calendar-weekdays {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.calendar-grid {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.calendar-day {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10%;
  transition: 0.2s;
}

.calendar-day:hover {
  background: #f3f3f3;
}

.empty {
  cursor: default;
  background: none !important;
}

.today {
  color: #000000;
  font-weight: bold;
}

.selected {
  background: #ffb700 !important;
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
}
.selected-day-name {
  text-align: center;
  margin-top: 6px;
  font-size: 16px;
  color: #444;
  font-weight: 600;
}
