.table-container {
  border-radius: 12px;
  text-align: center;
  width: 100%;
 
}

.table-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #000000;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.table {
  border: none;
}

.table th {
  background-color: #212121;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #eeb829;
  line-height: 50px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  border: none;
}

.table td {
  vertical-align: middle;
  font-family: 'Outfit', sans-serif;
  border-top: 1px solid #eaeaea;
  height: 79px;
}

.blog-thumb {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: transform 0.2s ease-in-out;
}

.blog-thumb:hover {
  transform: scale(1.05);
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.icon-btn {
  padding: 0.4rem 0.6rem !important;
  font-size: 0.9rem !important;
  border-radius: 6px !important;
  min-width: 36px;
  height: 36px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.modal-content {
  border-radius: 10px;
  font-family: 'Outfit', sans-serif;
}
