.view-blog-container {
  max-width: 900px;
  margin: auto;
  font-family: "Outfit", sans-serif;
}

.view-blog-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin-bottom: 1.2rem;
}

.view-blog-content h1,
.view-blog-content h2,
.view-blog-content h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #222;
}

.view-blog-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.view-blog-content th,
.view-blog-content td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.view-blog-content th {
  background-color: #f8f9fa;
  font-weight: bold;
}
