
.multi-cube-wrapper {
    position: relative;

    top: -40px;
    height: 70vh;
    background: none;
    overflow: hidden;
  }
  

  .cube-container {
    position: absolute;
    animation: dropCube 1s ease-out forwards;
    cursor: pointer;

  }
  


  .cube1 { top: 18%; left: 50%; animation-delay: 0s; }
  .cube2 { top: 30%; left: 74%; animation-delay: 0.2s; }
  .cube3 { top: 50%; left: 82%; animation-delay: 0.4s; }
  .cube4 { top: 70%; left: 74%; animation-delay: 0.6s; }
  .cube5 { top: 82%; left: 50%; animation-delay: 0.8s; }
  .cube6 { top: 70%; left: 26%; animation-delay: 1s; }
  .cube7 { top: 50%; left: 18%; animation-delay: 1.2s; }
  .cube8 { top: 30%; left: 26%; animation-delay: 1.4s; }
  



  .cube9  { top: calc(50% - 32%); left: 50%; animation-delay: 0s; }               
  .cube10 { top: calc(50% - 14%); left: calc(50% + 22%); animation-delay: 0.2s; } 
  .cube11 { top: calc(50% + 14%); left: calc(50% + 22%); animation-delay: 0.4s; }
  .cube12 { top: calc(50% + 26%); left: 50%; animation-delay: 0.6s; }            
  .cube13 { top: calc(50% + 14%); left: calc(50% - 22%); animation-delay: 0.8s; } 
  .cube14 { top: calc(50% - 14%); left: calc(50% - 22%); animation-delay: 1s; }   




  .cube15  { top: calc(50% - 32%); left: 50%; animation-delay: 0s; }               
  .cube16 { top: calc(50% - 14%); left: calc(50% + 22%); animation-delay: 0.2s; }
  .cube17 { top: calc(50% + 14%); left: calc(50% + 22%); animation-delay: 0.4s; } 
  .cube18 { top: calc(50% + 26%); left: 50%; animation-delay: 0.6s; }             
  .cube19 { top: calc(50% + 14%); left: calc(50% - 22%); animation-delay: 0.8s; } 
  .cube20 { top: calc(50% - 14%); left: calc(50% - 22%); animation-delay: 1s; }   



  .cube21  { top: calc(50% - 32%); left: 50%; animation-delay: 0s; }               
  .cube22 { top: calc(50% - 14%); left: calc(50% + 22%); animation-delay: 0.2s; } 
  .cube23 { top: calc(50% + 14%); left: calc(50% + 22%); animation-delay: 0.4s; } 
  .cube24 { top: calc(50% + 26%); left: 50%; animation-delay: 0.6s; }             
  .cube25 { top: calc(50% + 14%); left: calc(50% - 22%); animation-delay: 0.8s; } 
  .cube26 { top: calc(50% - 14%); left: calc(50% - 22%); animation-delay: 1s; }   
  

  .cube27  { top: calc(50% - 32%); left: 50%; animation-delay: 0s; }               
  .cube28 { top: calc(50% - 14%); left: calc(50% + 22%); animation-delay: 0.2s; } 
  .cube29 { top: calc(50% + 14%); left: calc(50% + 22%); animation-delay: 0.4s; } 
  .cube30 { top: calc(50% + 26%); left: 50%; animation-delay: 0.6s; }            
  .cube31 { top: calc(50% + 14%); left: calc(50% - 22%); animation-delay: 0.8s; }
  .cube32 { top: calc(50% - 14%); left: calc(50% - 22%); animation-delay: 1s; }   



  .cube33  { top: calc(50% - 32%); left: 50%; animation-delay: 0s; }               
  .cube34 { top: calc(50% - 14%); left: calc(50% + 22%); animation-delay: 0.2s; } 
  .cube35 { top: calc(50% + 14%); left: calc(50% + 22%); animation-delay: 0.4s; } 
  .cube36 { top: calc(50% + 26%); left: 50%; animation-delay: 0.6s; }             
  .cube37 { top: calc(50% + 14%); left: calc(50% - 22%); animation-delay: 0.8s; } 
  .cube38 { top: calc(50% - 14%); left: calc(50% - 22%); animation-delay: 1s; }  



  

.cube {
  position: relative;
  width: 72px;   
  height: 72px;  
  transform: rotateX(60deg) rotateZ(45deg);
  transform-style: preserve-3d;
}


.face {
  position: absolute;
  width: 72px;
  height: 72px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.4rem; 
  color: white;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.068);
}


.face.top {
  background: #c5d7ea;
  transform: rotateX(90deg) translateZ(36px);
  z-index: 3;
  filter: drop-shadow(30px 10px 5px rgba(169, 173, 188, 0.8));
}

.face.left {
  background: #bcccdc;
  transform: rotateY(-90deg) translateZ(36px);
  z-index: 2;
}

.face.right {
  background: #fbf9ff;
  transform: rotateY(0deg) translateZ(36px);
  z-index: 1;
}

.face.bottom-left {
  background: #d8d9ed;
  transform: rotateX(-90deg) rotateY(0deg) translateZ(36px);
  z-index: 2;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.face.bottom-right {
  background: #dddef7;
  transform: rotateX(-90deg) rotateY(90deg) translateZ(36px);
  z-index: 2;
  filter: drop-shadow(30px 10px 5px rgba(169, 173, 188, 0.8));
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


.icon-top {
  width: 72px;
  height: 72px;
  position: absolute;
  top: -10px;
  left: 0;
  transform: rotateX(-10deg) rotateY(0deg) translateZ(72px); 
  transform-style: preserve-3d;
  animation: iconSpin 6s linear infinite;
}

  
  
  
  @keyframes spin {
    0% {
      transform: rotateY(0deg) translateZ(1px);
    }
    100% {
      transform: rotateY(360deg) translateZ(1px);
    }
  }
  
  
  .laptop-center {
    position: absolute;
    top: 52%;
    left: 52%;
    width: 200px;
    height: auto;
    transform: translate(-50%, -50%) rotateX(20deg) rotateZ(10deg);
    z-index: 10;
    animation: fadeIn 1.2s ease-in forwards;
    filter: drop-shadow(30px 10px 5px rgba(169, 173, 188, 0.8));
  }
  
  .laptop-image {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.3));
  }
  
  
  @keyframes dropCube {
    0% {
      transform: translateY(-150px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  @keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.8) translate(-50%, -50%); }
    100% { opacity: 1; transform: scale(1) translate(-50%, -50%); }
  }
  

  
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}


.popup-content {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  width: 90%;
  max-width: 600px;
  text-align: center;
  position: relative;
  animation: popupFade 0.3s ease-in-out;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  font-family: 'Outfit', sans-serif;
}


.popup-icon {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
  opacity: 0;
  animation: fadeInUp 0.5s ease forwards;
}


.popup-content h2 {
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
  animation-delay: 0.1s;
}


.popup-content p {
  opacity: 0;
  animation: fadeInUp 0.7s ease forwards;
  animation-delay: 0.2s;
}


.popup-close-icon {
  font-size: 32px;
  background-color: #c50000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  top: 10px;
  right: 10px;
  opacity: 0;
  animation: fadeInScale 0.8s ease forwards;
  animation-delay: 0.3s;
  border-radius: 50px;
  padding: 5px;
}


.animated-close {
  animation: spin 1.2s ease-in-out infinite, fadeInScale 0.8s ease forwards;
  animation-delay: 0.3s;
}


@keyframes popupFade {
  from {
    opacity: 0;
    transform: scale(0.9);
  } 
  to {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}





@media (max-width: 1024px) {
        .laptop-center {
    position: absolute;
    top: 27% !important;
    left: 52% !important;
    width: 180px !important;
  
  }
  
  .multi-cube-wrapper {
    height: 90vh;
    top: -20px;
  }

  .cube {
    width: 60px;
    height: 60px;
  }

  .face{
    width: 60px;
    height: 60px;
  }
  .icon-top{
    width: 60px !important;
    height: auto;
  }

  .face.top {
    background: #c5d7ea;
    transform: rotateX(90deg) translateZ(29px);
    z-index: 3;
    filter: drop-shadow(30px 10px 5px rgba(169, 173, 188, 0.8));
  }
  
  .face.left {
    background: #bcccdc;
    transform: rotateY(-90deg) translateZ(29px);
    z-index: 2;
  }
  
  .face.right {
    background: #fbf9ff;
    transform: rotateY(0deg) translateZ(29px);
    z-index: 1;
  }
  
  .face.bottom-left {
    background: #d8d9ed;
    transform: rotateX(-90deg) rotateY(0deg) translateZ(29px);
    z-index: 2;
    font-size: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .face.bottom-right {
    background: #dddef7;
    transform: rotateX(-90deg) rotateY(90deg) translateZ(29px);
    z-index: 2;
    filter: drop-shadow(30px 10px 5px rgba(169, 173, 188, 0.8));
    font-size: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .laptop-center {
    width: 130px;
    top: 260px ;
    top: 20%;
    left: 40%;
  }

  .cube1 { top: 7%; left: 46%; animation-delay: 0s; }    
  .cube2 { top: 13%; left: 72%; animation-delay: 0.2s; }  
  .cube3 { top: 24%; left: 85%; animation-delay: 0.4s; }  
  .cube4 { top: 37%; left: 72%; animation-delay: 0.6s; }  
  .cube5 { top: 43%; left: 46%; animation-delay: 0.8s; }  
  .cube6 { top: 37%; left: 22%; animation-delay: 1s; }    
  .cube7 { top:25%; left: 10%; animation-delay: 1.2s; }  
  .cube8 { top: 14%; left: 20%; animation-delay: 1.4s; } 


  .cube9  { top: 7%; left: 46%; animation-delay: 0s; }     
  .cube10 { top: 18%; left: 80%; animation-delay: 0.2s; }   
  .cube11 { top: 35%; left: 80%; animation-delay: 0.4s; }   
  .cube12 { top: 43%; left: 48%; animation-delay: 0.6s; }  
  .cube13 { top: 36%; left: 18%; animation-delay: 0.8s; }  
  .cube14 { top: 18%; left: 15%; animation-delay: 1s; } 


  .cube15  { top: 7%; left: 46%; animation-delay: 0s; }    
  .cube16 { top: 18%; left: 80%; animation-delay: 0.2s; }
  .cube17 { top: 35%; left: 80%; animation-delay: 0.4s; } 
  .cube18 { top: 43%; left: 48%; animation-delay: 0.6s; } 
  .cube19 { top: 36%; left: 18%; animation-delay: 0.8s; } 
  .cube20 { top: 18%; left: 15%; animation-delay: 1s; }


  .cube21  { top: 7%; left: 46%; animation-delay: 0s; }
  .cube22 { top: 18%; left: 80%; animation-delay: 0.2s; } 
  .cube23 { top: 35%; left: 80%; animation-delay: 0.4s; } 
  .cube24 { top: 43%; left: 48%; animation-delay: 0.6s; }
  .cube25 { top: 36%; left: 18%; animation-delay: 0.8s; } 
  .cube26 { top: 18%; left: 15%; animation-delay: 1s; }


  .cube27  { top: 7%; left: 46%; animation-delay: 0s; } 
  .cube28 { top: 18%; left: 80%; animation-delay: 0.2s; } 
  .cube29 { top: 35%; left: 80%; animation-delay: 0.4s; }
  .cube30 { top: 43%; left: 48%; animation-delay: 0.6s; } 
  .cube31 { top: 36%; left: 18%; animation-delay: 0.8s; }
  .cube32 { top: 18%; left: 15%; animation-delay: 1s; }


  .cube33  { top: 7%; left: 46%; animation-delay: 0s; } 
  .cube34 { top: 18%; left: 80%; animation-delay: 0.2s; }
  .cube35 { top: 35%; left: 80%; animation-delay: 0.4s; }
  .cube36 { top: 43%; left: 48%; animation-delay: 0.6s; } 
  .cube37 { top: 36%; left: 18%; animation-delay: 0.8s; } 
  .cube38 { top: 18%; left: 15%; animation-delay: 1s; } 

  .popup-content {
    width: 95%;
    padding: 1.5rem;
  }

  .popup-icon {
    width: 80px;
  }

  .popup-content h2 {
    font-size: 1.5rem;
  }

  .popup-content p {
    font-size: 1rem;
  }
}


@media (max-width: 768px) {

      .laptop-center {
    position: absolute;
    top: 25% !important;
    left: 52% !important;
    width: 120px !important;
  
  }
  
  .multi-cube-wrapper {
    max-height: 20;
    top: 0;
    padding-top: 60px;
    
  }

  .cube {
    width: 48px;
    height: 48px;
  }

  .face {
    width: 35px !important;
    height: 35px !important;
  }

  .icon-top{
    width: 35px !important;
    height: auto !important;
  }

  .face.top {
    background: #c5d7ea;
    transform: rotateX(90deg) translateZ(18px);
    z-index: 3;
    filter: drop-shadow(30px 10px 5px rgba(169, 173, 188, 0.8));
  }
  
  .face.left {
    background: #bcccdc;
    transform: rotateY(-90deg) translateZ(17px);
    z-index: 2;
  }
  
  .face.right {
    background: #fbf9ff;
    transform: rotateY(0deg) translateZ(18px);
    z-index: 1;
  }
  
  .face.bottom-left {
    background: #d8d9ed;
    transform: rotateX(-90deg) rotateY(0deg) translateZ(18px);
    z-index: 2;
    font-size: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .face.bottom-right {
    background: #dddef7;
    transform: rotateX(-90deg) rotateY(90deg) translateZ(17px);
    z-index: 2;
    filter: drop-shadow(30px 10px 5px rgba(169, 173, 188, 0.8));
    font-size: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .laptop-center {
    width: 100px;
    top: 170px;
    top: 20%;
    left: 38%;
  }

  .popup-content {
    padding: 1rem;
    font-size: 14px;
  }

  .popup-icon {
    width: 64px;
  }

  .popup-content h2 {
    font-size: 1.3rem;
  }

  .popup-content p {
    font-size: 0.95rem;
  }

  .popup-close-icon {
    font-size: 24px;
    padding: 4px;
  }

  .cube1 { top: 7%; left: 46%; animation-delay: 0s; }    
  .cube2 { top: 13%; left: 72%; animation-delay: 0.2s; } 
  .cube3 { top: 24%; left: 85%; animation-delay: 0.4s; }  
  .cube4 { top: 37%; left: 72%; animation-delay: 0.6s; }  
  .cube5 { top: 43%; left: 46%; animation-delay: 0.8s; }  
  .cube6 { top: 37%; left: 22%; animation-delay: 1s; }   
  .cube7 { top:25%; left: 10%; animation-delay: 1.2s; }  
  .cube8 { top: 14%; left: 20%; animation-delay: 1.4s; } 


  .cube9  { top: 7%; left: 46%; animation-delay: 0s; }    
  .cube10 { top: 18%; left: 80%; animation-delay: 0.2s; }  
  .cube11 { top: 35%; left: 80%; animation-delay: 0.4s; } 
  .cube12 { top: 43%; left: 48%; animation-delay: 0.6s; }  
  .cube13 { top: 36%; left: 18%; animation-delay: 0.8s; }  
  .cube14 { top: 18%; left: 15%; animation-delay: 1s; } 


  .cube15  { top: 7%; left: 46%; animation-delay: 0s; }   
  .cube16 { top: 18%; left: 80%; animation-delay: 0.2s; } 
  .cube17 { top: 35%; left: 80%; animation-delay: 0.4s; } 
  .cube18 { top: 43%; left: 48%; animation-delay: 0.6s; } 
  .cube19 { top: 36%; left: 18%; animation-delay: 0.8s; } 
  .cube20 { top: 18%; left: 15%; animation-delay: 1s; }


  .cube21  { top: 7%; left: 46%; animation-delay: 0s; }   
  .cube22 { top: 18%; left: 80%; animation-delay: 0.2s; }  
  .cube23 { top: 35%; left: 80%; animation-delay: 0.4s; } 
  .cube24 { top: 43%; left: 48%; animation-delay: 0.6s; }  
  .cube25 { top: 36%; left: 18%; animation-delay: 0.8s; } 
  .cube26 { top: 18%; left: 15%; animation-delay: 1s; }


  .cube27  { top: 7%; left: 46%; animation-delay: 0s; }   
  .cube28 { top: 18%; left: 80%; animation-delay: 0.2s; } 
  .cube29 { top: 35%; left: 80%; animation-delay: 0.4s; } 
  .cube30 { top: 43%; left: 48%; animation-delay: 0.6s; } 
  .cube31 { top: 36%; left: 18%; animation-delay: 0.8s; } 
  .cube32 { top: 18%; left: 15%; animation-delay: 1s; }


  .cube33  { top: 7%; left: 46%; animation-delay: 0s; } 
  .cube34 { top: 18%; left: 80%; animation-delay: 0.2s; } 
  .cube35 { top: 35%; left: 80%; animation-delay: 0.4s; } 
  .cube36 { top: 43%; left: 48%; animation-delay: 0.6s; } 
  .cube37 { top: 36%; left: 18%; animation-delay: 0.8s; } 
  .cube38 { top: 18%; left: 15%; animation-delay: 1s; }
}


@media (max-width: 480px) {

    .laptop-center {
    position: absolute;
    top: 27%;
    left: 52%;
  
  }
  .cube {
    width: 40px;
    height: 40px;
  }

  .face, .icon-top {
    width: 40px;
    height: 40px;
  }

  .popup-content {
    padding: 0.8rem;
    max-width: 95%;
  }

  .popup-content h2 {
    font-size: 1.1rem;
  }

  .popup-content p {
    font-size: 0.9rem;
  }

  .popup-icon {
    width: 56px;
  }
}

  
