.all-heading{
    color: #D49A3E !important;
}
.portfolio-title{
    font-weight: 700;
  font-size: 50px !important;
  background: linear-gradient(90deg, #000000, #cfa74a, #000000);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 4s ease-in-out infinite;
  font-family: 'Outfit', sans-serif;
  line-height: 1.3;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-shadow: 0 0 8px rgba(207, 167, 74, 0.3);
  display: block;
}
