.all-uiux-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.all-uiux-card {
  display: block;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  background: #fff;
}

.all-uiux-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.all-uiux-title {
  padding: 12px;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.all-uiux-card:hover {
  transform: translateY(-6px);
}
