.custom-carousel-wrapper {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
}

.carousel-header {
  text-align: center;
  margin-bottom: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 20px 15px;
  z-index: 5;
}

.carousel-title {
  font-size: 35px;
  font-weight: 700;
  color: #c7892b;
  font-family: "Outfit", sans-serif;
  margin: 0;
  line-height: 50px;
}

.carousel-subtitle {
  font-size: 1rem;
  color: #000;
  font-family: "Outfit", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Swiper styling */
.carousel-track {
  margin-top: 150px !important;
  width: 100%;
  padding-bottom: 40px;
}

.carousel-slide {
  border-radius: 10px;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* Swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #a87020 !important;
  background: #000;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  transition: 0.3s ease;
  padding: 8px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #000;
  color: #fff;
  transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 992px) {
  .carousel-title {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .carousel-slide {
    margin-top: 70px;
  }
  .carousel-img {
    height: auto;
  }
  .carousel-title {
    font-size: 1.5rem;
  }
  .carousel-subtitle {
    font-size: 0.9rem;
  }
}
